body
{
        background-image: url("gradient.jpg");
        background-repeat: repeat-x; 
}

hr
{
        color: #555555;
        background-color: #555555;
        height: 1px;
        border: 0px;
        margin-top: 8px;
        margin-bottom: 8px;
}

div
{
        font-family: Arial, Helvetica, sans-serif;
}

.toc
{
        float: left;
}

.sect1
{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
}

.navheader
{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
}

.navfooter
{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
}

.navheader a
{
        color: black;
}

.navfooter a
{
        color: black;
}

.article
{
        width: 600px;
        margin-left: auto;      
        margin-right: auto;
}

.guimenuitem
{
        font-style: italic;
}

h2
{
        color: #555555;
}


h3
{
        color: #777777;
}

h4
{
        color: #777777;
}

h5
{
        color: #777777;
}
